<?xml version="1.0"?>

<model>
    <name>maria_metallic_frame</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Brice Denoun</name>
        <email>b.d.denoun@qmul.ac.uk</email>
    </author>

    <description>
        Simplified metallic frame which is used as body for the bimanual MARIA robot.
</model>
