<?xml version="1.0"?>

<model>
    <name>ground</name>
    <version>1.0</version>
    <sdf version="1.0">model.sdf</sdf>

    <author>
      <name>Brice Denoun</name>
      <email>b.d.denoun@qmul.ac.uk</email>
    </author>

    <description>
        A thin 6.0 x 6.0 x 0.01 box to simulate the ground floor. the top of the box is at level 0.
    </description>

</model>
