<?xml version="1.0"?>

<model>
    <name>arq_panda_setup</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Brice Denoun</name>
        <email>b.d.denoun@qmul.ac.uk</email>
    </author>

    <description>
        Environment of the Franka Emika panda arm used at Advanced Robotics @ Queen Mary University of London
    </description>
</model>
