<?xml version="1.0"?>

<model>
    <name>rectangular_box</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Brice Denoun</name>
        <email>b.d.denoun@qmul.ac.uk</email>
    </author>

    <description>
        A rectangular box (165 x 70 x 60mm) that can be used for simulation..
    </description>
</model>
